.hero-image{
    background-image: url("/images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
    width: 100vw;
}

.carousel{
    width: 100vw;
}
